<footer class="foot">
    <div class="container">
        <div class="flex-box">
            <div class="col col--white">
                <h5 class="title">
                    Меню
                </h5>
                <ul class="list">
                    <li class="item">
                        <a href="#" class="link">
                            Суши
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            Гунканы
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            Инари
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            Супы
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            Салаты
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            Горячие закуски 
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            Десерты
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            Напитки
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            Дополительно
                        </a>
                    </li>
                </ul>
            </div>           
            <div class="col col--sets">
                <h5 class="title">
                    Сеты
                </h5>
                <ul class="list">
                    <li class="item">
                        <a href="#" class="link">
                            До 500 руб.
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            До 1000 руб. (для двоих)
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            До 1500 руб (для двоих - троих)
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            До 2000 руб (большая кампания)
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            от 2000 руб (очень большая кампания)
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            С угрем
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            Горячие
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            Запеченые
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            Суши
                        </a>
                    </li>
                </ul>
            </div>            
            <div class="col">
                <h5 class="title">
                    Роллы   
                </h5>
                <ul class="list">
                    <li class="item">
                        <a href="#" class="link">
                            Традиционные/Классические
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            Простые
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            Теплые
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            Запеченые
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            Вегитарианские
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <h5 class="title">
                    Вок
                </h5>
                <ul class="list">
                    <li class="item">
                        <a href="#" class="link">
                            Яичная
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            Удон
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            Гречневая
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            Стеклянная
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            Рис
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <h5 class="title">
                    Пицца
                </h5>
                <ul class="list">
                    <li class="item">
                        <a href="#" class="link">
                            Мясная
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            Рыбная
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            Сырная
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            Вегитарианская
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="info">
            <p class="txt">
                МИЮШИ © 2017
            </p>
            <a href="#" class="link">
                Соглашение на обработку персональных данных
            </a>
            <i class="fico fico-vk-circle"></i>
            <i class="fico fico-instagram-circle"></i>
            <i class="fico fico-facebook-circle"></i>
        </div>
    </div>
</footer>