<section class="form">
    <div class="container">
        <div class="form-box">
            <p class="txt">
                Есть вопросы?
            </p>
            <h2 class="title">
                Оставьте свои контакты
            </h2>
            <form action="/" method="POST" class="contact-form">
                <input type="text" placeholder="Имя" class="name"><input type="text" placeholder="Телефон" class="phone"><input type="submit" class="submt" value="ОТПРАВИТЬ">
            </form>
            <p class="warn-txt">
                Нажимая на кнопку «Отправить», вы даете согласие на обработку своих персональных данных.
            </p>
        </div>
    </div>
</section>