<header class="header">
    <div class="container">
        <div class="contacts">
            <a href="#" class="burger" id="js_burger">
                <div class="burger__bar" id="js_burger__bar"></div>
                <div class="burger__bar" id="js_burger__bar"></div>
                <div class="burger__bar" id="js_burger__bar"></div>
            </a>
            <a href="/" class="logo">
                <img src="../img/logo1.png" alt="logo-image" class="logo-pic"><img src="../img/logo2.png" alt="logo-image" class="logo-pic">
            </a>
            <span class="address">
                <i class="fico fico-maps-and-flags"></i>
                г. Курск, ул. Ленина, д. 3
            </span>
            <span class="email">
                <i class="fico fico-envelope"></i>
                78003332222@yandex.ru
            </span>
            <div class="tel">
                <a href="#" type="tel" class="number">
                    +7 (800) 333 2 222
                </a>
                <span class="hours">
                    Работаем с 11.00 до 23.00
                </span>
            </div>
            <a href="#" class="callback">
                Обратный звонок
            </a>
            <a href="#" class="user">
                <i class="fico fico-user2"></i>
            </a>
            <a href="#" class="cart">
                <i class="fico fico-cart2"></i>
            </a>
        </div>
        <ul class="nav">
            <li class="nav__item">
                 <a href="#" class="btn btn--arrow">
                     меню
                    </a>
            </li>
            <li class="nav__item">
                <a href="#" class="btn">
                    Акции и скидки 
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="btn">
                    Доставка и оплата
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="btn">
                    Новости
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="btn">
                    Контакты
                </a>
            </li>
            <li class="nav__item nav__item--user">
                <a href="#" class="btn">
                    <i class="fico fico-user2"></i>
                    кабинет
                </a>
            </li>
            <li class="nav__item nav__item--cart">
                <a href="#" class=" btn">
                    <i class="fico fico-cart2"></i>
                    <span class="cart-counter">2</span>
                    Корзина
                </a>
            </li>
        </ul>
    </div>
</header>