<section class="main-slider">
    <div class="sale-carousel">
        <div class="sale-slide sale-slide--1">
            <div class="sale">
                <h1 class="title">
                    Счастливые часы
                    <span class="sale-value">
                        скидка 15%  
                    </span>
                </h1>
                <p class="hours">
                    с 11:00 до 16:00 в будние дни
                </p>
                <a href="#" class="btn">
                    Подробнее   
                </a>
            </div>
        </div>
        <div class="sale-slide sale-slide--1">
            <div class="sale">
                <h1 class="title">
                    Lorem, ipsum.
                    <span class="sale-value">
                        скидка 15%  
                    </span>
                </h1>
                <p class="hours">
                    Lorem ipsum dolor sit amet.
                </p>
                <a href="#" class="btn">
                    Lorem.  
                </a>
            </div>
        </div>
        <div class="sale-slide sale-slide--1">
            <div class="sale">
                <h1 class="title">
                    Lorem, ipsum.
                    <span class="sale-value">
                        скидка 15%  
                    </span>
                </h1>
                <p class="hours">
                    Lorem ipsum dolor sit amet consectetur.
                </p>
                <a href="#" class="btn">
                    Lorem.   
                </a>
            </div>
        </div>
    </div>
</section>