<div class="overlay" id="js_overlay">
    <div class="menu">
        <div class="cross" id="js_close"></div>
        <ul class="nav">
            <li class="nav__item">
                <a href="#" class="link">
                    меню
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="link">
                    акции и скидки
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="link">
                    доставка и оплата
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="link">
                    новости
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="link">
                    контакты
                </a>
            </li>
        </ul>
        <a href="#" type="tel" class="number">
            +7 (800) 333 2 222
        </a>
        <span class="hours">
            Работаем с 11.00 до 23.00
        </span>
        <a href="#" class="callback">
            Обратный звонок
        </a>
        <span class="address">
            <i class="fico fico-maps-and-flags"></i>
            г. Курск, ул. Ленина, д. 3
        </span>
        <span class="email">
            <i class="fico fico-envelope"></i>
            78003332222@yandex.ru
        </span>       
    </div>
</div>