<section class="pizzas">
    <div class="container">
        <div class="row">
            <h2 class="title">
                Пицца
            </h2>
            <div class="pizza-carousel">
                <div class="pizza">
                    <img src="../img/pizza1.jpg" alt="set" class="pizza-pic">
                    <h5 class="pizza-name">
                        Баварская
                    </h5>
                    <p class="pizza-info">
                        33 см | 680 г. | 1350 Kkal
                    </p>
                    <div class="flex-cnt">
                        <span class="pizza-price">
                            480
                        </span>
                        <span class="pizza-val">
                            руб
                        </span>
                        <button class="btn btn--dec"></button>
                        <div class="order-amount">
                            1
                        </div>
                        <button class="btn btn--inc"></button>
                    </div>
                    <button class="to-cart">
                        В корзину
                        <i class="fico fico-cart2"></i>
                    </button>
                </div>
                <div class="pizza">
                    <img src="../img/pizza2.jpg" alt="set" class="pizza-pic">
                    <h5 class="pizza-name">
                        Унаги диру
                    </h5>
                    <p class="pizza-info">
                        8 шт. | 960 г. | 800 Kkal  
                    </p>
                    <div class="flex-cnt">
                        <span class="pizza-price">
                            280
                        </span>
                        <span class="pizza-val">
                            руб
                        </span>
                        <button class="btn btn--dec"></button>
                        <div class="order-amount">
                            1
                        </div>
                        <button class="btn btn--inc"></button>
                    </div>
                    <button class="to-cart">
                        В корзину
                        <i class="fico fico-cart2"></i>
                    </button>
                </div>
                <div class="pizza">
                    <img src="../img/pizza3.jpg" alt="set" class="pizza-pic">
                    <h5 class="pizza-name">
                        Вегетарианская
                    </h5>
                    <p class="pizza-info">
                        33 см | 755 г. | 1800 Kkal
                    </p>
                    <div class="flex-cnt">
                        <span class="pizza-price">
                            380
                        </span>
                        <span class="pizza-val">
                            руб
                        </span>
                        <button class="btn btn--dec"></button>
                        <div class="order-amount">
                            1
                        </div>
                        <button class="btn btn--inc"></button>
                    </div>
                    <button class="to-cart">
                        В корзину
                        <i class="fico fico-cart2"></i>
                    </button>
                </div>
                <div class="pizza">
                    <img src="../img/pizza4.jpg" alt="set" class="pizza-pic">
                    <h5 class="pizza-name">
                        Пепперони
                    </h5>
                    <p class="pizza-info">
                        33 см | 615 г. | 1400 Kkal  
                    </p>
                    <div class="flex-cnt">
                        <span class="pizza-price">
                            450
                        </span>
                        <span class="pizza-val">
                            руб
                        </span>
                        <button class="btn btn--dec"></button>
                        <div class="order-amount">
                            1
                        </div>
                        <button class="btn btn--inc"></button>
                    </div>
                    <button class="to-cart">
                        В корзину
                        <i class="fico fico-cart2"></i>
                    </button>
                </div>
                <div class="pizza">
                    <img src="../img/pizza2.jpg" alt="set" class="pizza-pic">
                    <h5 class="pizza-name">
                        Классическая
                    </h5>
                    <p class="pizza-info">
                        33 см | 590 г. | 1490 Kkal 
                    </p>
                    <div class="flex-cnt">
                        <span class="pizza-price">
                            390
                        </span>
                        <span class="pizza-val">
                            руб
                        </span>
                        <button class="btn btn--dec"></button>
                        <div class="order-amount">
                            1
                        </div>
                        <button class="btn btn--inc"></button>
                    </div>
                    <button class="to-cart">
                        В корзину
                        <i class="fico fico-cart2"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>