<section class="reasons">
    <div class="container">
        <h2 class="title">
            10 причин купить у нас
        </h2>
        <div class="flex-con">
            <div class="reason">
                <img src="../img/svg/kitchen-svg2.svg" alt="" class="reason__pic">
                <p class="reason__txt">
                    100% ручная работа
                </p>
            </div>
            <div class="reason">
                <img src="../img/svg/kitchen-svg2.svg" alt="" class="reason__pic">
                <p class="reason__txt">
                    100% свежие ингредиенты
                </p>
            </div>
            <div class="reason">
                <img src="../img/svg/kitchen-svg2.svg" alt="" class="reason__pic">
                <p class="reason__txt">
                    Самые низкие цены на рынке! (Нет ресторанной наценки)
                </p>
            </div>
            <div class="reason">
                <img src="../img/svg/kitchen-svg2.svg" alt="" class="reason__pic">
                <p class="reason__txt">
                    Постоянный контроль качества на всех этапах
                </p>
            </div>
            <div class="reason">
                <img src="../img/svg/kitchen-svg2.svg" alt="" class="reason__pic">
                <p class="reason__txt">
                    Только охлажденная рыба (никакой заморозки)
                </p>
            </div>
            <div class="reason">
                <img src="../img/svg/kitchen-svg2.svg" alt="" class="reason__pic">
                <p class="reason__txt">
                    Мы используем только дорогой рис из Японии
                </p>
            </div>
            <div class="reason">
                <img src="../img/svg/kitchen-svg2.svg" alt="" class="reason__pic">
                <p class="reason__txt">
                    Больше начинки, меньше риса!
                </p>
            </div>
            <div class="reason">
                <img src="../img/svg/kitchen-svg2.svg" alt="" class="reason__pic">
                <p class="reason__txt">
                    Мы не заменяем авокадо огурцом!
                </p>
            </div>
            <div class="reason">
                <img src="../img/svg/kitchen-svg2.svg" alt="" class="reason__pic">
                <p class="reason__txt">
                    Вся пицца готовится из итальянской муки и Итальянского соуса
                </p>
            </div>
            <div class="reason">
                <img src="../img/svg/kitchen-svg2.svg" alt="" class="reason__pic">
                <p class="reason__txt">
                    Мы не используем майонез!
                </p>
            </div>            
        </div>
    </div>
</section>