<section class="reviews">
    <div class="container">
        <h2 class="title">
            Отзывы
        </h2>
        <div class="review-box">
            <div class="review">
                <div class="person">
                    <img src="../img/avatar.jpg" alt="" class="pic-part">
                    <div class="name-part">
                        <p class="name">
                            Надежда Наширбанова
                        </p>
                        <p class="data">
                            5 авг 2017 в 9:58
                        </p>
                    </div>
                </div>
                <p class="comment">
                    Спасибо за быструю доставку! Отличный поздний ужин после рабочего дня )
                </p>
                <img src="../img/comm_pic.jpg" alt="" class="com-pic">
                <div class="soc-bar">
                    <a href="#" class="like">
                        <i class="fico fico-like"></i>  
                    </a>
                    <a href="#" class="chat">
                        <i class="fico fico-chat"></i>  
                    </a>
                    <span class="counter">
                        2
                    </span>
                    <a href="#" class="speaker">
                        <i class="fico fico-megaphone"></i>  
                    </a>
                </div>
                <button class="subcribe">
                    <i class="fico fico-vk"></i>  
                    Подписаться
                </button>
            </div>
            <div class="review">
                <div class="person">
                    <img src="../img/avatar.jpg" alt="" class="pic-part">
                    <div class="name-part">
                        <p class="name">
                            Надежда Наширбанова
                        </p>
                        <p class="data">
                            5 авг 2017 в 9:58
                        </p>
                    </div>
                </div>
                <p class="comment">
                    Спасибо за быструю доставку! Отличный поздний ужин после рабочего дня )
                </p>
                <img src="../img/comm_pic.jpg" alt="" class="com-pic">
                <div class="soc-bar">
                    <a href="#" class="like">
                        <i class="fico fico-like"></i>  
                    </a>
                    <a href="#" class="chat">
                        <i class="fico fico-chat"></i>  
                    </a>
                    <span class="counter">
                        2
                    </span>
                    <a href="#" class="speaker">
                        <i class="fico fico-megaphone"></i>  
                    </a>
                </div>
                <button class="subcribe">
                    <i class="fico fico-vk"></i>  
                    Подписаться
                </button>
            </div>
            <div class="review">
                <div class="person">
                    <img src="../img/avatar.jpg" alt="" class="pic-part">
                    <div class="name-part">
                        <p class="name">
                            Надежда Наширбанова
                        </p>
                        <p class="data">
                            5 авг 2017 в 9:58
                        </p>
                    </div>
                </div>
                <p class="comment">
                    Спасибо за быструю доставку! Отличный поздний ужин после рабочего дня )
                </p>
                <img src="../img/comm_pic.jpg" alt="" class="com-pic">
                <div class="soc-bar">
                    <a href="#" class="like">
                        <i class="fico fico-like"></i>  
                    </a>
                    <a href="#" class="chat">
                        <i class="fico fico-chat"></i>  
                    </a>
                    <span class="counter">
                        2
                    </span>
                    <a href="#" class="speaker">
                        <i class="fico fico-megaphone"></i>  
                    </a>
                </div>
                <button class="subcribe">
                    <i class="fico fico-vk"></i>  
                    Подписаться
                </button>
            </div>
        </div>
    </div>
</section>