<section class="rolls">
    <div class="container">
        <div class="row">
            <h2 class="title">
                Роллы
            </h2>
            <div class="rolls-carousel">
                <div class="roll">
                    <img src="../img/roll4.png" alt="set" class="roll-pic">
                    <h5 class="roll-name">
                        Кунсей батакон
                    </h5>
                    <p class="roll-info">
                        8 шт. | 250 г. | 350 Kkal
                    </p>
                    <div class="flex-cnt">
                        <span class="roll-price">
                            260
                        </span>
                        <span class="roll-val">
                            руб
                        </span>
                        <button class="btn btn--dec"></button>
                        <div class="order-amount">
                            1
                        </div>
                        <button class="btn btn--inc"></button>
                    </div>
                    <button class="to-cart">
                        В корзину
                        <i class="fico fico-cart2"></i>
                    </button>
                </div>
                <div class="roll">
                    <img src="../img/roll3.png" alt="set" class="roll-pic">
                    <h5 class="roll-name">
                        Унаги диру
                    </h5>
                    <p class="roll-info">
                        8 шт. | 960 г. | 800 Kkal  
                    </p>
                    <div class="flex-cnt">
                        <span class="roll-price">
                            280
                        </span>
                        <span class="roll-val">
                            руб
                        </span>
                        <button class="btn btn--dec"></button>
                        <div class="order-amount">
                            1
                        </div>
                        <button class="btn btn--inc"></button>
                    </div>
                    <button class="to-cart">
                        В корзину
                        <i class="fico fico-cart2"></i>
                    </button>
                </div>
                <div class="roll">
                    <img src="../img/roll2.png" alt="set" class="roll-pic">
                    <h5 class="roll-name">
                        Филадельфия
                    </h5>
                    <p class="roll-info">
                        8 шт. | 450 г. | 400 Kkal
                    </p>
                    <div class="flex-cnt">
                        <span class="roll-price">
                            280
                        </span>
                        <span class="roll-val">
                            руб
                        </span>
                        <button class="btn btn--dec"></button>
                        <div class="order-amount">
                            1
                        </div>
                        <button class="btn btn--inc"></button>
                    </div>
                    <button class="to-cart">
                        В корзину
                        <i class="fico fico-cart2"></i>
                    </button>
                </div>
                <div class="roll">
                    <img src="../img/roll1.png" alt="set" class="roll-pic">
                    <h5 class="roll-name">
                        Унаги диру
                    </h5>
                    <p class="roll-info">
                        8 шт. | 960 г. | 800 Kkal  
                    </p>
                    <div class="flex-cnt">
                        <span class="roll-price">
                            280
                        </span>
                        <span class="roll-val">
                            руб
                        </span>
                        <button class="btn btn--dec"></button>
                        <div class="order-amount">
                            1
                        </div>
                        <button class="btn btn--inc"></button>
                    </div>
                    <button class="to-cart">
                        В корзину
                        <i class="fico fico-cart2"></i>
                    </button>
                </div>
                <div class="roll">
                    <img src="../img/roll1.png" alt="set" class="roll-pic">
                    <h5 class="roll-name">
                        Мексиканский 
                    </h5>
                    <p class="roll-info">
                        8 шт. | 460 г. | 490 Kkal 
                    </p>
                    <div class="flex-cnt">
                        <span class="roll-price">
                            290
                        </span>
                        <span class="roll-val">
                            руб
                        </span>
                        <button class="btn btn--dec"></button>
                        <div class="order-amount">
                            1
                        </div>
                        <button class="btn btn--inc"></button>
                    </div>
                    <button class="to-cart">
                        В корзину
                        <i class="fico fico-cart2"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>