<section class="sets">
    <div class="container">
        <div class="row">
            <h2 class="title">
                Сеты
            </h2>
            <div class="sets-carousel">
                <div class="set set--hit">
                    <div class="circle">
                        <span class="txt">
                            хит
                        </span>
                    </div>
                    <img src="img/set1.jpg" alt="set" class="set-pic">
                    <h5 class="set-name">
                        Сет №10
                    </h5>
                    <p class="set-info">
                        72 шт. | 1560 г. | 1700 Kkal  
                    </p>
                    <div class="flex-cnt">
                        <span class="set-price">
                            2 050
                        </span>
                        <span class="set-val">
                            руб
                        </span>
                        <button class="btn btn--dec"></button>
                        <div class="order-amount">
                            1
                        </div>
                        <button class="btn btn--inc"></button>
                    </div>
                    <button class="to-cart">
                        В корзину
                        <i class="fico fico-cart2"></i>
                    </button>
                </div>
                <div class="set">
                    <img src="img/set2.jpg" alt="set" class="set-pic">
                    <h5 class="set-name">
                        Сет №8
                    </h5>
                    <p class="set-info">
                        24 шт. | 960 г. | 800 Kkal  
                    </p>
                    <div class="flex-cnt">
                        <span class="set-price">
                            1 590
                        </span>
                        <span class="set-val">
                            руб
                        </span>
                        <button class="btn btn--dec"></button>
                        <div class="order-amount">
                            1
                        </div>
                        <button class="btn btn--inc"></button>
                    </div>
                    <button class="to-cart">
                        В корзину
                        <i class="fico fico-cart2"></i>
                    </button>
                </div>
                <div class="set">
                    <img src="img/set3.jpg" alt="set" class="set-pic">
                    <h5 class="set-name">
                        Минисет №5
                    </h5>
                    <p class="set-info">
                        14 шт. | 450 г. | 400 Kkal
                    </p>
                    <div class="flex-cnt">
                        <span class="set-price">
                            510
                        </span>
                        <span class="set-val">
                            руб
                        </span>
                        <button class="btn btn--dec"></button>
                        <div class="order-amount">
                            1
                        </div>
                        <button class="btn btn--inc"></button>
                    </div>
                    <button class="to-cart">
                        В корзину
                        <i class="fico fico-cart2"></i>
                    </button>
                </div>
                <div class="set set--veg">
                    <div class="circle">
                        <span class="txt">
                            veg
                        </span>
                    </div>
                    <img src="img/set4.jpg" alt="set" class="set-pic">
                    <h5 class="set-name">
                        Сет №6
                    </h5>
                    <p class="set-info">
                        16 шт. | 460 г. | 490 Kkal
                    </p>
                    <div class="flex-cnt">
                        <span class="set-price">
                            400
                        </span>
                        <span class="set-val">
                            руб
                        </span>
                        <button class="btn btn--dec"></button>
                        <div class="order-amount">
                            1
                        </div>
                        <button class="btn btn--inc"></button>
                    </div>
                    <button class="to-cart">
                        В корзину
                        <i class="fico fico-cart2"></i>
                    </button>
                </div>
                <div class="set">
                    <img src="img/set2.jpg" alt="set" class="set-pic">
                    <h5 class="set-name">
                        Сет №8
                    </h5>
                    <p class="set-info">
                        24 шт. | 960 г. | 800 Kkal  
                    </p>
                    <div class="flex-cnt">
                        <span class="set-price">
                            1 590
                        </span>
                        <span class="set-val">
                            руб
                        </span>
                        <button class="btn btn--dec"></button>
                        <div class="order-amount">
                            1
                        </div>
                        <button class="btn btn--inc"></button>
                    </div>
                    <button class="to-cart">
                        В корзину
                        <i class="fico fico-cart2"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>