<section class="woks">
    <div class="container">
        <div class="row">
            <h2 class="title">
                WOK
            </h2>
            <div class="wok-carousel">
                <div class="wok">
                    <img src="../img/wok1.jpg" alt="set" class="wok-pic">
                    <h5 class="wok-name">
                        С говядиной
                    </h5>
                    <p class="wok-info">
                        400 г. | 1350 Kkal
                    </p>
                    <div class="flex-adtn">
                        <span class="txt">
                            Добавить: 
                        </span>
                        <div class="num-box">
                            <span class="number">
                                +2
                            </span>
                            <button class="cancel"></button>
                        </div>
                        <span class="adtn-price">
                            140
                        </span>
                        <span class="adtn-val">
                            руб
                        </span>
                        <button class="adtn-inc"></button>
                    </div>
                    <div class="adtn-select">
                        <select name="" id="" class="select">
                            <option value="" class="select__item">Китайский соус</option>
                            <option value="" class="select__item">Lorem, ipsum.</option>
                            <option value="" class="select__item">Lorem, ipsum.</option>
                            <option value="" class="select__item">Lorem, ipsum.</option>
                            <option value="" class="select__item">Lorem, ipsum.</option>
                            <option value="" class="select__item">Lorem, ipsum.</option>
                        </select>
                    </div>
                    <div class="flex-cnt">
                        <span class="wok-price">
                            430
                        </span>
                        <span class="wok-val">
                            руб
                        </span>
                        <button class="btn btn--dec"></button>
                        <div class="order-amount">
                            1
                        </div>
                        <button class="btn btn--inc"></button>
                    </div>
                    <button class="to-cart">
                        В корзину
                        <i class="fico fico-cart2"></i>
                    </button>
                </div>
                <div class="wok">
                    <img src="../img/wok2.jpg" alt="set" class="wok-pic">
                    <h5 class="wok-name">
                        С курицей
                    </h5>
                    <p class="wok-info">
                        400 г. | 1350 Kkal
                    </p>
                    <div class="flex-adtn">
                        <span class="txt">
                            Добавить: 
                        </span>
                        <div class="num-box">
                            <span class="number">
                                +0
                            </span>
                            <button class="cancel"></button>
                        </div>
                        <span class="adtn-price">
                            0
                        </span>
                        <span class="adtn-val">
                            руб
                        </span>
                        <button class="adtn-inc"></button>
                    </div>
                    <div class="adtn-select">
                        <select name="" id="" class="select">
                            <option value="" class="select__item">Китайский соус</option>
                            <option value="" class="select__item">Lorem, ipsum.</option>
                            <option value="" class="select__item">Lorem, ipsum.</option>
                            <option value="" class="select__item">Lorem, ipsum.</option>
                            <option value="" class="select__item">Lorem, ipsum.</option>
                            <option value="" class="select__item">Lorem, ipsum.</option>
                        </select>
                    </div>
                    <div class="flex-cnt">
                        <span class="wok-price">
                            290
                        </span>
                        <span class="wok-val">
                            руб
                        </span>
                        <button class="btn btn--dec"></button>
                        <div class="order-amount">
                            1
                        </div>
                        <button class="btn btn--inc"></button>
                    </div>
                    <button class="to-cart">
                        В корзину
                        <i class="fico fico-cart2"></i>
                    </button>
                </div>
                <div class="wok">
                    <img src="../img/wok3.jpg" alt="set" class="wok-pic">
                    <h5 class="wok-name">
                        С морепродуктами
                    </h5>
                    <p class="wok-info">
                        400 г. | 1350 Kkal
                    </p>
                    <div class="flex-adtn">
                        <span class="txt">
                            Добавить: 
                        </span>
                        <div class="num-box">
                            <span class="number">
                                +2
                            </span>
                            <button class="cancel"></button>
                        </div>
                        <span class="adtn-price">
                            140
                        </span>
                        <span class="adtn-val">
                            руб
                        </span>
                        <button class="adtn-inc"></button>
                    </div>
                    <div class="adtn-select">
                        <select name="" id="" class="select">
                            <option value="" class="select__item">Китайский соус</option>
                            <option value="" class="select__item">Lorem, ipsum.</option>
                            <option value="" class="select__item">Lorem, ipsum.</option>
                            <option value="" class="select__item">Lorem, ipsum.</option>
                            <option value="" class="select__item">Lorem, ipsum.</option>
                            <option value="" class="select__item">Lorem, ipsum.</option>
                        </select>
                    </div>
                    <div class="flex-cnt">
                        <span class="wok-price">
                            430
                        </span>
                        <span class="wok-val">
                            руб
                        </span>
                        <button class="btn btn--dec"></button>
                        <div class="order-amount">
                            1
                        </div>
                        <button class="btn btn--inc"></button>
                    </div>
                    <button class="to-cart">
                        В корзину
                        <i class="fico fico-cart2"></i>
                    </button>
                </div>
                <div class="wok">
                    <img src="../img/wok4.jpg" alt="set" class="wok-pic">
                    <h5 class="wok-name">
                        С овощами
                    </h5>
                    <p class="wok-info">
                        400 г. | 1350 Kkal
                    </p>
                    <div class="flex-adtn">
                        <span class="txt">
                            Добавить: 
                        </span>
                        <div class="num-box">
                            <span class="number">
                                +2
                            </span>
                            <button class="cancel"></button>
                        </div>
                        <span class="adtn-price">
                            140
                        </span>
                        <span class="adtn-val">
                            руб
                        </span>
                        <button class="adtn-inc"></button>
                    </div>
                    <div class="adtn-select">
                        <select name="" id="" class="select">
                            <option value="" class="select__item">Китайский соус</option>
                            <option value="" class="select__item">Lorem, ipsum.</option>
                            <option value="" class="select__item">Lorem, ipsum.</option>
                            <option value="" class="select__item">Lorem, ipsum.</option>
                            <option value="" class="select__item">Lorem, ipsum.</option>
                            <option value="" class="select__item">Lorem, ipsum.</option>
                        </select>
                    </div>
                    <div class="flex-cnt">
                        <span class="wok-price">
                            430
                        </span>
                        <span class="wok-val">
                            руб
                        </span>
                        <button class="btn btn--dec"></button>
                        <div class="order-amount">
                            1
                        </div>
                        <button class="btn btn--inc"></button>
                    </div>
                    <button class="to-cart">
                        В корзину
                        <i class="fico fico-cart2"></i>
                    </button>
                </div>
                <div class="wok">
                    <img src="../img/wok3.jpg" alt="set" class="wok-pic">
                    <h5 class="wok-name">
                        С морепродуктами
                    </h5>
                    <p class="wok-info">
                        400 г. | 1350 Kkal
                    </p>
                    <div class="flex-adtn">
                        <span class="txt">
                            Добавить: 
                        </span>
                        <div class="num-box">
                            <span class="number">
                                +2
                            </span>
                            <button class="cancel"></button>
                        </div>
                        <span class="adtn-price">
                            140
                        </span>
                        <span class="adtn-val">
                            руб
                        </span>
                        <button class="adtn-inc"></button>
                    </div>
                    <div class="adtn-select">
                        <select name="" id="" class="select">
                            <option value="" class="select__item">Китайский соус</option>
                            <option value="" class="select__item">Lorem, ipsum.</option>
                            <option value="" class="select__item">Lorem, ipsum.</option>
                            <option value="" class="select__item">Lorem, ipsum.</option>
                            <option value="" class="select__item">Lorem, ipsum.</option>
                            <option value="" class="select__item">Lorem, ipsum.</option>
                        </select>
                    </div>
                    <div class="flex-cnt">
                        <span class="wok-price">
                            430
                        </span>
                        <span class="wok-val">
                            руб
                        </span>
                        <button class="btn btn--dec"></button>
                        <div class="order-amount">
                            1
                        </div>
                        <button class="btn btn--inc"></button>
                    </div>
                    <button class="to-cart">
                        В корзину
                        <i class="fico fico-cart2"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>