.about
	padding: 75px 0 165px 0
	text-align: center
	+r(767)
		padding: 45px 0 75px 0
	.title
		display: inline-block
		font-family: $LemonTuesday
		font-size: 60px
		color: $GreyF
		position: relative
		padding: 0 145px
		margin-bottom: 75px
		+r(991)
			font-size: 48px
			padding: 0 116px
		+r(767)
			font-size: 44px
			padding: 0
			margin-bottom: 50px
		&::before
			content: ''
			position: absolute
			+sprite($left-ptrn2)
			//background-size: cover
			height: 40px
			width: 109px
			left: 0
			top: 50%
			transform: translate(0, -50%)
			+r(991)
				transform: scale(0.75) translate(0, -67%)
			+r(767)
				//transform: scale(0.75) translate(0, -67%)
				display: none
		&::after
			content: ''
			position: absolute
			+sprite($right-ptrn2)
			//background-size: cover
			//background-position: 0 40px
			//background-color: #555
			height: 40px
			width: 109px
			right: 0
			top: 50%
			transform: translate(0, -50%)
			+r(991)
				transform: scale(0.75) translate(0, -67%)
			+r(767)
				//transform: scale(0.75) translate(0, -67%)
				display: none
	.title2
		text-align: left
		display: block
		font-family: $OpenSansBold
		font-size: 24px
		color: $GreyF
		margin-bottom: 35px
		+r(1199)
			font-size: 22px
		+r(767)
			font-size: 20px
	.txt
		text-align: left
		font-family: $OpenSans
		font-size: 14px
		color: $GreyF3
		margin-bottom: 25px
		line-height: 1.4
		&:last-of-type
			margin-bottom: 0
			+r(767)
				display: none
		&:nth-of-type(4)
			+r(767)
				display: none
	.pic
		width: 277px
		float: right
		margin-left: 58px
		+r(1199)
			margin-bottom: 40px
			width: 220px
		+r(767)
			display: none
	.show-more
		display: none
		text-transform: uppercase
		max-width: 290px
		font-size: 14px
		font-family: $OpenSansSemiBold
		line-height: 40px
		border: 1px solid $OrangeBG
		text-decoration: none
		border-radius: 5px
		margin: 0 auto
		color: $OrangeBG
		//cursor: pointer
		+r(767)
			display: block 
