.header
	position: fixed
	background-color: $mainColor
	width: 100%
	//position: relative
	z-index: 10
	&::after
		content: ''
		position: absolute
		height: 1px
		background-color: $GreyBG3
		left: 0
		right: 0
		top: 109px
		//display: none
	.contacts
		display: flex
		align-items: center
		//justify-content: space-between
		//padding: 9px 0
		margin-bottom: 11px
		height: 98px
		//line-height: 0
		.logo
			display: inline-block	
			margin-right: 56px
			line-height: 0
			.logo-pic
		.address	
			font-family: $MyriadProRegular
			font-size: 14px
			padding-left: 20px
			position: relative
			//&::before
				content: ''
				position: absolute
				height: 16px
				width: 11px
				//background-color: red
				background: url('../img/svg/maps-and-flags.svg') no-repeat center
				left: 0
				top: 50%
				transform: translate(0, -50%)
			.fico
				position: absolute
				font-size: 16px
				color: $GreenBG
				left: 0
				top: 50%
				transform: translate(0, -50%) translate(0, -3px)	
		.email
			font-family: $MyriadProRegular
			font-size: 14px
			padding-left: 20px
			position: relative
			margin-left: auto
			margin-right: 0
			//&::before
				content: ''
				position: absolute
				height: 16px
				width: 11px
				//background-color: red
				background: url('../img/svg/envelope.svg') no-repeat center
				left: 0
				top: 50%
				transform: translate(0, -50%)			
			.fico
				position: absolute
				font-size: 10px
				color: $GreenBG
				left: 0
				top: 50%
				transform: translate(0, -50%) translate(0, -1px)	
		.tel
			margin-left: 75px
			.number
				display: block
				font-family: $OpenSansBold
				font-size: 18px
				text-decoration: none
				color: black
				margin-bottom: 7px
				&:hover
					color: grey
			.hours
				display: block
				font-family: $MyriadProRegular
				font-size: 10px
		.callback
			margin-left: 30px
			color: $GreenF
			font-family: $OpenSansRegular
			font-size: 13px
			line-height: 36px
			padding: 0 17px
			border: 2px solid $GreenBG
			border-radius: 8px
			text-transform: uppercase
			text-decoration: none
			&:hover
				color: green
	.nav
		//display: block
		display: flex
		&__item
			display: inline-block
			text-decoration: none
			.btn
				display: inline-block
				line-height: 50px
				padding: 0 30px
				color: black
				font-family: $OpenSansBold
				text-decoration: none
				text-transform: uppercase
				font-size: 14px
				transition: color .5s, background-color .5s
				&:hover
					color: white
					background-color: $GreenF2
				.cart-counter
					position: absolute
					font-family: $OpenSansBold
					font-size: 7px
					display: inline-block
					line-height: 11px
					padding: 0 3px
					border-radius: 3px
					color: white
					background-color: $OrangeBG
					left: 48px
					top: 12px
					z-index: 5
				&--arrow
					padding-right: 48px
					position: relative
					&::after
						content: ''
						position: absolute
						height: 7px
						width: 7px
						border: 1px solid black
						border-top: none
						border-left: none
						right: 30px
						top: 50%
						transform: translate(0, -50%) translate(-2px, -2px) rotate(45deg)
						transition: border-color .5s
					&:hover
						&::after
							border-color: white
			&--user
				margin-left: auto
				.btn
					position: relative
					padding-left: 71px
					//&::after
						content: ''
						position: absolute
						height: 22px
						width: 22px
						left: 31px
						top: 50%
						transform: translate(0, -50%)
						+sprite($user)	
					.fico
						position: absolute
						font-size: 22px
						color: $GreenF
						left: 30px
						top: 50%
						transform: translate(0, -50%) translate(0, -1px)
						transition: color .5s
					&:hover
						.fico
							color: white							
			&--cart
				.btn
					position: relative
					padding-left: 70px
					//&::after
						content: ''
						position: absolute
						height: 22px
						width: 22px
						left: 30px
						top: 50%
						transform: translate(0, -50%)
						+sprite($cart)
					.fico
						position: absolute
						font-size: 21px
						color: $GreenF
						left: 30px
						top: 50%
						transform: translate(0, -50%) translate(0, -1px)
						transition: color .5s
					&:hover
						.fico
							color: white		
			
